<a name="top"></a>
<div class="android-be-together-section mdl-typography--text-center">
    <div class="logo-font android-slogan">내 손으로 뽑는 우리 동네 단체장과 교육감, <p class="highlight">18Vote!</p></div>
    <div class="logo-font android-sub-slogan">지금 청소년 선거인단에 등록해주세요!</div>
    <div class="logo-font android-create-character">
        <a class="regist" href="/vote">
            <button class="regist-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                등록하기
            </button>
        </a>
        <div class="time-remain">등록 마감시간까지 남은 시간
            <div class="time-count">25시간 34분 12초</div>
        <div>
    </div>
    <a href="#screens">
        <button class="android-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
            <i class="material-icons">expand_more</i>
        </button>
    </a>
</div>
<div class="android-screen-section mdl-typography--text-center">
    <iframe  title="YouTube video player" class="youtube-player" type="text/html"  width="560" height="315" src="//www.youtube.com/embed/zDXjoE-vL_I" frameborder="0" allowfullscreen></iframe>
</div>
<div class="android-wear-section">
    <div class="android-wear-band">
        <div class="android-wear-band-text">
            <div class="mdl-typography--display-2 mdl-typography--font-thin">앞으로 일정</div>
            <p class="mdl-typography--headline mdl-typography--font-thin">
                늦어도 만 13세, 청소년기 초반에는 이성적 사고(개념/판단/추리)를 할 수 있다
            </p>
            <p class="mdl-typography--headline mdl-typography--font-thin">
                - 피아제 인간발달 심리학자
            </p>
            <p>
                <a class="mdl-typography--font-regular mdl-typography--text-uppercase android-alt-link" href="">
                    See what's new in the Play Store&nbsp;<i class="material-icons">chevron_right</i>
                </a>
            </p>
        </div>
    </div>
</div>
<div class="android-customized-section">
    <div class="android-customized-section-text">
        <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Customised by you, for you</div>
        <p class="mdl-typography--font-light">
            투표 같은 사실과 증거에 기반을 둔 의사결정 능력은 16세가 되면 거의 완성된다
            <br>
            <a href="" class="android-link mdl-typography--font-light">- 필립 젤라조 미네소타 대학 아동발달연구소 교수 -</a>
        </p>
    </div>
    <div class="android-customized-section-image"></div>
</div>
<div class="android-more-section">
    <div class="android-section-title mdl-typography--display-1-color-contrast">새소식</div>
    <div class="android-card-container mdl-grid">
        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
            <div class="mdl-card__media">
                <img src="images/more-from-1.png">
            </div>
            <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">청소년 민주시민학교 정보</h4>
            </div>
            <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">Four tips to make your switch to Android quick and easy</span>
            </div>
            <div class="mdl-card__actions">
                <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                    Make the switch
                    <i class="material-icons">chevron_right</i>
                </a>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
            <div class="mdl-card__media">
                <img src="images/more-from-4.png">
            </div>
            <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">후보자 초청 토론회 일정</h4>
            </div>
            <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">Turn the little green Android mascot into you, your friends, anyone!</span>
            </div>
            <div class="mdl-card__actions">
                <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                    androidify.com
                    <i class="material-icons">chevron_right</i>
                </a>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
            <div class="mdl-card__media">
                <img src="images/more-from-2.png">
            </div>
            <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">Get a clean customisable home screen</h4>
            </div>
            <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">A clean, simple, customisable home screen that comes with the power of Google Now: Traffic alerts, weather and much more, just a swipe away.</span>
            </div>
            <div class="mdl-card__actions">
                <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                    Download now
                    <i class="material-icons">chevron_right</i>
                </a>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
            <div class="mdl-card__media">
                <img src="images/more-from-3.png">
            </div>
            <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">Millions to choose from</h4>
            </div>
            <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">Hail a taxi, find a recipe, run through a temple – Google Play has all the apps and games that let you make your Android device uniquely yours.</span>
            </div>
            <div class="mdl-card__actions">
                <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                    Find apps
                    <i class="material-icons">chevron_right</i>
                </a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/javascripts/index.js"></script>

<!--<ul id="sortable">-->
    <!--<li>홍길동</li>-->
    <!--<li>이순신</li>-->
    <!--<li>스티브잡스</li>-->
    <!--<li>웨인루니</li>-->
<!--</ul>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>-->
<!--<script type="text/javascript" src="/javascripts/dragSort.js"></script>-->