<div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <a href="/vote">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            투표하기
        </button>
    </a>
</div>
