<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="청소년들에게 투표권을! 18Vote">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>18Vote</title>

        <meta property="og:title" content="청소년들에게 투표권을! ...18Vote!" />

        <!-- Page styles -->
        <link rel="stylesheet" href="/stylesheets/{{css}}.css">
        <link rel="stylesheet" href="/stylesheets/layout.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <header class="header">
            <a href="#">
                <img class="logo" src="/images/logo.png">
            </a>

        </header>
        <main role="main">
            {{{body}}}
        </main>
        <footer>
            <a href="#"><h4>Back to Top ㅅ</h4></a>
            <p>
                청소년이 직접 봅는 교육감 운동본부<br>
                문의: 000-0000-0000(한국 YMCA 전국연맹)<br>
                Powered By
            </p>
        </footer>
        <script type="text/javascript" src="/javascripts/bundle.js"></script>
    </body>
</html>
