<h1>TEST</h1>
<textarea id="input-zone" cols="40" rows="8"></textarea>
<button id="ok">Submit</button>
<div class="result-zone"></div>
<script type="text/javascript" src="/javascripts/linker.js"></script>