<div class="apply-zone-wrapper">
    <div class="apply-zone">
        <h1>내 손으로 뽑는 우리동네 <br> 단체장과 교육감, 18Vote!</h1>
        <h2>지금 청소년 선거인단에 등록해주세요!</h2>
        <img class="main-image" src="/images/image.png">
        <p>등록 마감시간까지 앞으로</p>
        <h6>00일 00시간 00분 00초</h6>
        <button class="apply-btn">등록하기</button>
    </div>
    <div class="under-cover"></div>
    <div class="dot"></div>
</div>
<div class="schedule">
    <div class="under-cover black"></div>
    <h2>추진 일정</h2>
    <div class="schedule-box">
        <ul>
            <li class="todo-item">
                <p class="date">~4/30</p>
                <h6>추진위원회 회원모집</h6>
            </li>

            <li class="todo-item">
                <p class="date">~4/30</p>
                <h6>내부 경선 투표 진행</h6>
                <h6>
                    온라인 투표: 5/2(수)~3(목)24시까지 <br>
                    오프라인 현장 투표 <br>
                    <div class="tab-1">- 5/4(금) : 08:00 ~ 20:00</div><br>
                    <div class="tab-1">- 5/5(토) : 08:00 ~ 17:00</div>
                </h6>
            </li>
            <li class="todo-item">
                <p class="date">5/5</p>
                <h6>서울촛불교육감 후보 결정</h6>
            </li>
            <li class="todo-item">
                <p class="date">6/13</p>
                <h6>6.13 지방선거 서울교육감 선거</h6>
            </li>
        </ul>
        <h6>선거인단 등록기간 : 2018.03.01(목) ~ 04.20(금) 18:00</h6>
        <h6>
            모의투표 기간 : 온라인 투표 : 5/2(수)~3(목) 24시까지<br>
            <div class="tab-4">오프라인 현장 투표</div><br>
            <div class="tab-5">- 5/4(금) : 08:00 ~ 20:00</div><br>
            <div class="tab-5">- 5/5(토) : 08:00 ~ 17:00</div>
        </h6>
    </div>
    <div class="dot"></div>
    <div class="line"></div>
    <div class="under-cover"></div>
</div>

<div class="support">
    <h2>청소년 투표비용 후원</h2>
    <div class="under-cover"></div>
    <div class="support-box">
        <p>
            청소년 투표비용을 후원해주세요!<br>
            청소년 투표를 진행하는데에는 문자비, 홍보비, 서버유지비 등 많은 예산이 필요합니다.
            많은 청소년들이 대한민국에 목소리를 낼 수 있도록 후원에 동참해주세요.
            <br><br>
            후원계죄: 444-4444-4444 | 촛불은행, 김촛불
        </p>
    </div>
</div>

<div class="account">
    <h2>캠페인 공식 계정</h2>
    <ul class="account-list">
        <a href="#"><li class="account-item facebook"></li></a>
        <a href="#"><li class="account-item twitter"></li></a>
        <a href="#"><li class="account-item share"></li></a>
    </ul>
</div>

<div class="news">
    <h2>소식</h2>
    <div class="line"></div>
    <div class="under-cover"></div>
    <ul class="news-list">
        <li>
            <div class="pin left top"></div>
            <div class="pin right top"></div>
            <img src="/images/mask2.jpeg">
            <h5>청소년 민주시민 학교</h5>
            <div class="pin left bottom"></div>
            <div class="pin right bottom"></div>
        </li>
        <div class="dot"></div>
        <div class="under-cover second"></div>
        <li class="second">
            <div class="pin left top"></div>
            <div class="pin right top"></div>
            <img src="/images/mask2.jpeg">
            <h5>후보자 초청 토론회 일정</h5>
            <div class="pin left bottom"></div>
            <div class="pin right bottom"></div>
        </li>
    </ul>
</div>