<div class="apply-zone-wrapper">
    <div class="apply-zone">
        <h1>내 손으로 뽑는 우리동네 <br> 단체장과 교육감, 18Vote!</h1>
        <h2>지금 청소년 선거인단에 등록해주세요!</h2>
        <img class="main-image" src="/images/image.png">
        <p>등록 마감시간까지 앞으로</p>
        <h6 class="time-count">00일 00시간 00분 00초</h6>
        <button class="apply-btn">등록하기</button>
    </div>
    <div class="under-cover"></div>
    <div class="dot"></div>
</div>
<div class="schedule">
    <div class="under-cover black"></div>
    <h2>추진 일정</h2>
    <div class="schedule-box">
        <ul>
            <li class="todo-item">
                <p class="date">5/1~6/13</p>
                <h6>청소년 모의투표 선거인단 모집</h6>
            </li>

            <li class="todo-item">
                <p class="date">6/8(06:00~18:00), 6/9(06:00~18:00)</p>
                <h6>온라인 사전투표</h6>
            </li>
            <li class="todo-item">
                <p class="date">6/13(06:00~18:00)</p>
                <h6>오프라인 현장투표 및 온라인 투표</h6>
            </li>
            <li class="todo-item">
                <p class="date">6/13</p>
                <h6>6.13 지방선거 청소년 모의투표 결과 발표</h6>
            </li>
        </ul>
        <h6>선거인단 등록기간 : 2018.05.01(목) ~ 06.13(금) 18:00</h6>
        <h6>
            모의투표 기간 :<br>
            <div class="tab-1">온라인 투표</div><br>
            <div class="tab-2">- 5/8(금), 9(토), 13(수) 각 06:00~18:00</div><br>
            <div class="tab-1">오프라인 현장 투표</div><br>
            <div class="tab-2">- 6/13(수) : 06:00 ~ 18:00</div><br>
        </h6>
    </div>
    <div class="dot"></div>
    <div class="line"></div>
    <div class="under-cover"></div>
</div>

<div class="support">
    <h2>청소년 투표비용 후원</h2>
    <div class="under-cover"></div>
    <div class="support-box">
        <p>
            청소년 투표비용을 후원해주세요!<br>
            청소년 투표를 진행하는데에는 문자비, 홍보비, 서버유지비 등 많은 예산이 필요합니다.
            많은 청소년들이 대한민국에 목소리를 낼 수 있도록 후원에 동참해주세요.
            <br><br>
            후원계죄: 444-4444-4444 | 촛불은행, 김촛불
        </p>
    </div>
</div>

<div class="account">
    <h2>캠페인 공식 계정</h2>
    <ul class="account-list">
        <a href="#"><li class="account-item facebook"></li></a>
        <a href="#"><li class="account-item twitter"></li></a>
        <a href="#"><li class="account-item share"></li></a>
    </ul>
</div>

<div class="news">
    <h2>소식</h2>
    <div class="line"></div>
    <div class="under-cover"></div>
    <ul class="news-list">
        <li>
            <div class="pin left top"></div>
            <div class="pin right top"></div>
            <img src="/images/mask2.jpeg">
            <h5>청소년 민주시민 학교</h5>
            <div class="pin left bottom"></div>
            <div class="pin right bottom"></div>
        </li>
        <div class="dot"></div>
        <div class="under-cover second"></div>
        <li class="second">
            <div class="pin left top"></div>
            <div class="pin right top"></div>
            <img src="/images/mask2.jpeg">
            <h5>후보자 초청 토론회 일정</h5>
            <div class="pin left bottom"></div>
            <div class="pin right bottom"></div>
        </li>
    </ul>
</div>
<div class="dim"></div>
<div class="modal">
    <div class="modal-header">
        <h2>청소년 선거인단 등록</h2>
        <button class="close-btn">닫기</button>
    </div>
    <form class="page-1" action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="name" pattern="^[가-힣]{2,4}|[a-zA-Z]{2,10}\s[a-zA-Z]{2,10}$">
            <label class="mdl-textfield__label" for="sample3">이름*</label>
            <span class="mdl-textfield__error">올바르지 않은 형식입니다.</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="birthday" pattern="^(19|20)\d{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[0-1])$">
            <label class="mdl-textfield__label" for="sample3">생년월일(예:19940404)*</label>
            <span class="mdl-textfield__error">생년월일순 8자리 숫자로 작성해주세요!</span>
        </div>
        <div>
            <h5>성별*</h5>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1" data-item="1">
                <input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked>
                <span class="mdl-radio__label">남성</span>
            </label>
            <br>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2" data-item="2">
                <input type="radio" id="option-2" class="mdl-radio__button" name="options" value="2">
                <span class="mdl-radio__label">여성</span>
            </label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="phone" pattern="^\d{3}-\d{3,4}-\d{4}$">
            <label class="mdl-textfield__label" for="sample3">휴대폰번호*</label>
            <span class="mdl-textfield__error">000-0000-0000형식으로 입력해주세요!</span>
        </div>
        <button class="search-address-btn">주소 검색*</button>
        <p class="selected-address" id="address">&nbsp;</p>
        <input type="hidden" id="address1" value="">
        <input type="hidden" id="address2" value="">
        <!-- Accent-colored raised button with ripple -->
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            id="submit-btn1">
            다음
        </button>
        <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
    </form>

    <form class="page-2" action="#">
        <input id="token" type="hidden" value="">
        <h5>도착한 인증번호 4자리를 입력해주세요.</h5>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input code" type="text" id="sample3" maxlength="1">
            <label class="mdl-textfield__label" for="sample3"></label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input code" type="text" id="sample3" maxlength="1">
            <label class="mdl-textfield__label" for="sample3"></label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input code" type="text" id="sample3" maxlength="1">
            <label class="mdl-textfield__label" for="sample3"></label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input code" type="text" id="sample3" maxlength="1">
            <label class="mdl-textfield__label" for="sample3"></label>
        </div>
        <!-- Accent-colored raised button with ripple -->
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
            id="submit-btn2">
            다음
        </button>
        <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
    </form>

</div>