.mdl-shadow--2dp {

    margin: 5% auto;
    width: 80%;
    min-width: 360px;

}

h1 {
    font-size: 30px;
    margin: auto;
}

h2.mdl-card__title-text {
    font-weight: 900;
    margin: auto;
}

#input-address-zone {
    margin: 0 20% 0 20%;
    width: 60%;
}

#search {
    display: block;
    margin: auto;
}

#ul.page-navigation {
    margin: auto;
    list-style: none;
}

.address-item {
    display: inline-block;
}

.page-navigation {
    display: inline-block;
    margin: auto;
}

.page-move {
    display: inline-block;
    width: 30px;
}

.page-navigation p {
    font-size: 20px;
    display: inline-block;
    margin: 0 5px 0 5px;
}

.page-navigation p:hover {
    cursor: pointer;
}

.page-index.current {
    color: red;
}

#page-index-list {
    display: inline-block;
}

.submit-button {
    margin: 30px auto;
    width: 200px;
    display: none;
}

.submit-button.is-visible {
    display: block;
}

/*.state-bar {*/
    /*margin: auto;*/
    /*width: 80%;*/
    /*height: 30px;*/
    /*background-color: #DDDDDD;*/
    /*box-shadow: #AAA 1px 1px;*/
/*}*/

/*#form {*/
    /*margin: 40px 0 0 0;*/
/*}*/

/*button#search {*/
    /*margin: 0 0 0 80px;*/
/*}*/

/*button#search:hover {*/
    /*margin: -1px 0 1px 80px;*/
    /*box-shadow: #EEEEEE 2px 2px;*/
    /*font-weight: 900;*/
/*}*/

/*.now-state {*/
    /*width: 0;*/
    /*transition: width 2s;*/
    /*-webkit-transition: width 2s;*/
    /*height: 30px;*/
    /*background-color: aqua;*/
/*}*/

/*.demo-card-wide.mdl-card {*/
    /*padding: 3%;*/
/*}*/

/*.demo-list-control {*/
    /*width: 300px;*/
/*}*/

/*.demo-list-radio {*/
    /*display: inline;*/
/*}*/

/*.mdl-list__item.hidden {*/
    /*display: none;*/
/*}*/
